<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.m2e.Maven2LaunchConfigurationType">
    <booleanAttribute key="M2_BATCH" value="false"/>
    <stringAttribute key="M2_GOALS" value="-U archetype:generate"/>
    <listAttribute key="M2_PROPERTIES">
        <listEntry value="archetypeGroupId=org.apache.maven.archetypes"/>
        <listEntry value="archetypeArtifactId=maven-archetype-quickstart"/>
        <listEntry value="archetypeVersion=1.4"/>
        <listEntry value="groupId=com.duynam"/>
        <listEntry value="artifactId=Java_Four_Labs5"/>
        <listEntry value="version=0.0.1-SNAPSHOT"/>
        <listEntry value="package=com.duynam.Java_Four_Labs5"/>
        <listEntry value="outputDirectory=D:\eclip-workspace-09"/>
    </listAttribute>
    <booleanAttribute key="M2_SAVE_BEFORE_LAUNCH" value="false"/>
    <booleanAttribute key="org.eclipse.debug.ui.private" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="C:\Users\Pc\AppData\Local\Temp\m2e-archetypeGenerator544882557982714514"/>
</launchConfiguration>
