.container-fluid,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

body {
    background-color: #f6f6f6;
    background-color: #f1f3fe;
}

a {
    text-decoration: none !important;
}

a:hover {
    color: #23B5E1 !important;
}

.navbar li a {
    display: block;
    padding: 13px 20px 11px;
    margin: 0px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: #2c2c2c;
    border: 2px solid transparent;
    position: relative;
}

.navbar .home {
    border: 2px solid #201c1d;
    border-radius: 3px;
}

.navbar .home a:focus,
.navbar .home a:hover {
    color: #2c2c2c !important;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff !important;
    background-color: #23B5E1 !important;
}

.sticky {
    position: fixed;
    top: 0;
    z-index: 1 !important;
    width: 100%;
    box-shadow: 0 3px 10px 0 rgba(115, 143, 147, 0.3);
}

.sticky2 {
    padding-top: 4.313rem;
}

/* .sticky2 {
    padding-top: 6rem;
} */

.spacer {
    height: 6px;
    width: 49px;
    background-color: #23B5E1;
}

.subjects h2 {
    font-size: 42px;
    font-weight: 300;
    line-height: 1.52;
    margin-top: 24px;
    margin-bottom: 40px;
}

.subjects-item {
    margin-bottom: 40px;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    min-height: 200px;
    position: relative;
}

.subjects-item-image {
    width: 200px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    flex-shrink: 0;
}

.subjects-item-text {
    background-color: #fff;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-grow: 1;
}

.subjects-item-text-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-grow: 1;
}

.subjects-item-title-subtext {
    font-size: 12px;
    line-height: 18px;
    opacity: .5;
    margin-top: 4px;
}


.btn-primary-gradient {
    text-transform: uppercase;
    padding: 13px 21px;
    border: none;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 1.25px;
    font-stretch: normal;
    background: linear-gradient(153deg, #45dbf2, #23B5E1);
    color: #fff;

}

.btn-primary-gradient:hover {
    color: #fff !important;
    background: linear-gradient(153deg, #007bff, #45dbf2);
}

.grad:hover {
    color: #343a40 !important;
    background-color: transparent !important;
    border-color: #343a40;
}

.footer {
    padding-top: 50px;
    padding-bottom: 50px;
    color: #99979c;
    background-color: #2a2730;
    margin-top: 30px;
}

.footer a {
    color: white;
}

.footer a:focus,
.footer a:hover {
    color: white !important;
    text-decoration: underline !important;
}

.footer p {
    margin-bottom: 0rem !important;
}

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }